/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: auto;

    color: white;
    background: #FC913A;
    border: #F35F55  solid 1px;

    float: left;
    width: 32%;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.main {
    margin-bottom: 3em;
}

.header-container,
.main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
}


.header-container,
.footer-container {
    background: #F35F55;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.9);
}

.footer-container footer {
    color: white;
}

.title {
    margin-bottom: 5px;
    margin-top: 5px;
}

.main article {
    float: left;
    width: 65%;
}

.article-all {
    float: left;
    width: 100%;
}

.main aside {
    float: right;
    width: 28%;
    background: #F35F55;
    color: white;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.9);
}

.main section {
    margin-bottom: 5em;
}


aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


.bold {
    font-weight: bold;
}



body {
    font-size-adjust: 0.5;
    background:#ffffff;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
}


.main header {
    margin-bottom: 5px;
}
.main section {
    padding-left: 10px;
}

.presentation-title {
    position: relative;
    padding-left: 26px;
}
.presentation-title:before {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #00bfff;
    content: "";	
}

.google-maps {
position: relative;
padding-bottom: 70%; 
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

pre {
    border: 1px solid gray;
    padding: 20px;
    -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
}

/* banner */
.banner1 {
    border-left: 9px solid #FC913A;
    border-bottom: 2px solid #FC913A;
    padding-left: 10px;
}

.banner2 {
    border-left: 7px solid #F9D423;
    border-bottom: 2px solid #F9D423;
    padding-left: 7px;
}

.banner3 {
    border-left: 5px solid #E1F5C4;
    padding-left: 5px;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito', sans-serif;
}


/* a tag style from bootstrap */
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
/*
 * For mobile 
 */

/* iPhone yoko */
@media only screen and (max-width: 600px) {
    nav a {
        float: left;
        width: 30%;
    }
}

/* iPhone tate */
@media only screen and (max-width: 480px) {

    nav a {
        float: left;
        width: 100%;
    }

    .main article {
        float: left;
        width: 100%;
    }

    .main aside {
        float: left;
        width: 100%;
        background: #F35F55;
        color: white;
        padding: 5px;
    }

    aside img {
        width: 80%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
